#creations {
  background-color: black;
}

.project {
  min-height: 100vh;
  transition: all .6s ease;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.project img {
  height: 400px;
}

.project-1 {
  filter: grayscale(90%);
  transition: all .6s ease;
}

.project-2 {
  filter: grayscale(90%);
  transition: all .6s ease;
}

.project-1:hover  {
  filter: none;
}

.project-2:hover  {
  filter: none;
}
